<<h1>School Class Form</h1>

<%= form_for(@school_class) do |f| %>
  <label>Class Name:</label><br>
  <%=f.text_field :title  %>
  <label>Room Num:</label>
  <%= f.text_field :room_number %><br>
  <%= f.submit %>
<% end %>
